body {
    margin: auto;
    background-image: url('Photos\home page\bg1.png') no-repeat fixed center;
    background-size: cover;
    overflow: hidden;
    height: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(8px);
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.nav .left-nav {
    justify-content: flex-start;
}

.nav .right-nav {
    justify-content: flex-end;
    flex-grow: 1;
    text-align: right;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.2s;
    font-size: 1.2em;
}

.nav ul li a:hover {
    background: rgba(0, 0, 0, 0.8);
}


main {
    color: white;
    height: 80vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    margin-bottom: 10vh;
}

.text {
    font-size: 3vh;
    margin-top: -20vh; /* Adjust this value to decrease the space */
    word-spacing: 0.5em; /* Adjust the value as needed */
    font-family: 'papyrus';
}

.pichub {
    font-size: 20vh;
    font-family: 'Yellowtail', cursive;
    color: white;
    padding-bottom: 0px; /* Can be adjusted as needed */
    margin-bottom: 0; /* Added to ensure no extra space below */
}

.button-container {
    margin-top: 20px; /* Space above the button */
}

button {
    padding: 10px 20px;
    font-size: 2vh;
    color: black;
    background-color: white;
    border: 2px solid black; /* Added border color */
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}
